{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  {{! As you add new fields, add them in here! }}
  <div class='grid grid-4col'>

           <div class="grid-span-1">
        <label class="resource-label">{{localize
            "TOS.Item.Spell.FIELDS.headerActions.label"
          }}</label>
        
        <input
          type="text"
          placeholder="e.g. 5 | C"
          name="system.actionCost"
          value="{{system.actionCost}}"
          data-dtype="String"
        />
         </div>

                <div class="grid-span-1">
        <label class="resource-label">{{localize
            "TOS.Item.Spell.FIELDS.headerRange.label"
          }}</label>
        
        <input
          type="text"
          placeholder="6/Caster/Touch"
          name="system.range"
          value="{{system.range}}"
          data-dtype="String"
        />
         </div>
{{#if (eq item.system.option "magic")}}
        <div class="grid-span-1">
          <label for="spell-class">Class:</label>
          <select name="system.spellClass" id="spell-class">
  <option value="1"></option>
  {{#each system.classOptions as |spellClass|}}
    <option value="{{spellClass}}" {{#if (eq ../system.spellClass spellClass)}}selected{{/if}}>
      {{spellClass}}
    </option>
  {{/each}}
</select>
</div>
{{/if}}

{{#if (eq item.system.option "divine")}}
                <div class="grid-span-1">
        <label class="resource-label">{{localize
            "TOS.Item.Spell.FIELDS.domain.label"
          }}</label>
        
        <input
          type="text"
          name="system.domain"
          value="{{system.domain}}"
          data-dtype="String"
        />
         </div>
{{/if}}
         <div class="grid-span-1">
        <label class="resource-label">{{localize
            "TOS.Item.Spell.FIELDS.perRound.label"
          }}</label>
        
        <input
          type="text"
          name="system.perRound"
          value="{{system.perRound}}"
          data-dtype="Number"
        />
         </div>


<div class="grid-span-4">
<label class="resource-label">{{localize
     "TOS.Item.Spell.FIELDS.headerType.label"
  }}</label></div>

<select name="system.dmgType1" id="dmg-type-1">
  <option value="">-- Select a type --</option>
  {{#each system.dmgTypes as |dmgType|}}
    <option value="{{dmgType}}" {{#if (eq ../system.dmgType1 dmgType)}}selected{{/if}}>
      {{dmgType}}
    </option>
  {{/each}}
</select>

<select name="system.bool2" id="effect-bool-2">
  <option value="">-- Select a type --</option>
  {{#each system.effectOptions as |bool|}}
    <option value="{{bool}}" {{#if (eq ../system.bool2 bool)}}selected{{/if}}>
      {{bool}}
    </option>
  {{/each}}
</select> 

<select name="system.dmgType2" id="dmg-type-2">
  <option value="">-- Select a type --</option>
  {{#each system.dmgTypes as |dmgType|}}
    <option value="{{dmgType}}" {{#if (eq ../system.dmgType2 dmgType)}}selected{{/if}}>
      {{dmgType}}
    </option>
  {{/each}}
</select>

<select name="system.bool3" id="effect-bool-3">
  <option value="">-- Select a type --</option>
  {{#each system.effectOptions as |bool|}}
    <option value="{{bool}}" {{#if (eq ../system.bool3 bool)}}selected{{/if}}>
      {{bool}}
    </option>
  {{/each}}
</select>

<select name="system.dmgType3" id="dmg-type-3">
  <option value="">-- Select a type --</option>
  {{#each system.dmgTypes as |dmgType|}}
    <option value="{{dmgType}}" {{#if (eq ../system.dmgType3 dmgType)}}selected{{/if}}>
      {{dmgType}}
    </option>
  {{/each}}
</select>

<select name="system.bool4" id="effect-bool-4">
  <option value="">-- Select a type --</option>
  {{#each system.effectOptions as |bool|}}
    <option value="{{bool}}" {{#if (eq ../system.bool4 bool)}}selected{{/if}}>
      {{bool}}
    </option>
  {{/each}}
</select>

<select name="system.dmgType4" id="dmg-type-4">
  <option value="">-- Select a type --</option>
  {{#each system.dmgTypes as |dmgType|}}
    <option value="{{dmgType}}" {{#if (eq ../system.dmgType4 dmgType)}}selected{{/if}}>
      {{dmgType}}
    </option>
  {{/each}}
</select>



  </div>
</section>