{{! Sheet Header }}
<header class="sheet-header">
  <img
    class="profile-img"
    src="{{actor.img}}"
    data-edit="img"
    data-action="onEditImage"
    title="{{actor.name}}"
    height="100"
    width="100"
  />
  <div class="header-fields">
    <div class="document-name">
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="Name"
      />
    </div>
    <div class="resources grid grid-7col">
      <div class="abilities">
        {{#each system.abilities as |ability key|}}
          <div class="ability">
            <label
              class="resource-label rollable"
              data-action="roll"
              data-roll="(@abilities.{{key}}.mod)-1d100"
              data-label="{{localize (lookup @root.config.abilities key)}}"
            >
              {{localize (lookup @root.config.abilities key)}}
            </label>
            <input
              type="text"
              name="system.abilities.{{key}}.value"
              value="{{ability.value}}"
              class="ability-score"
              data-dtype="Number"
            />
            <span
              class="ability-mod rollable"
              data-action="roll"
              data-roll="(@abilities.{{key}}.mod)-1d100"
              data-label="{{localize (lookup @root.config.abilities key)}}"
            >
              {{numberFormat ability.mod decimals=0}}
            </span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</header>