{{! Sheet Header }}
<header class="sheet-header">
  <img
    class="profile-img"
    src="{{actor.img}}"
    data-edit="img"
    data-action="onEditImage"
    title="{{actor.name}}"
    height="216"
    width="216"
  />
  <div class="header-fields">
     <div class="grid grid-2col">
    <div class="document-name grid-span-1 ">
      <input
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="Name"
      />
    </div>
<div class="grid-span-1">
  {{#if race.length}}
    {{#each race as |item id|}}
      <div class="item-name">
        <input 
          type="text" 
          value="{{item.name}}" 
          readonly
        />
      </div>
    {{/each}}
  {{else}}
    <input 
      type="text" 
      value="" 
      placeholder="Choose a race" 
      readonly
    />
  {{/if}}
</div>

    </div>
    <hr>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}

    {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
    <div class="attributes flexrow">
      {{#each system.attributes as |attribute key|}}
        <div class="attribute flexcolumn flex-group-center">
          <label
            class="resource-label rollable"
            data-action="roll"
            data-roll="(@attributes.{{key}}.mod)-1d100"
            data-roll-type="attribute"
            data-label="{{key}}"
          >
            {{localize (lookup @root.config.attributes key)}}
          </label>
          <input
            type="text"
            value="{{attribute.total}}"
            class="attribute-score"
            data-dtype="Number"
            readonly
               />
         
          <span
            class="attribute-mod rollable"
            data-action="roll"
            data-roll="(@attributes.{{key}}.mod)-1d100"
            data-roll-type="attribute"
            data-label="{{key}}"
          >
            {{numberFormat attribute.mod decimals=0}}
          </span>
        </div>
      {{/each}}
    </div>
    <div class="Attributes flexrow">
      {{#each system.secondaryAttributes as |attribute key|}}
        <div class="attribute flexcolumn flex-group-center">
          <label
            class="resource-label rollable"
            data-action="roll"
            data-roll="(@secondaryAttributes.{{key}}.mod)-1d100"
            data-label="{{key}}"
          >
            {{localize (lookup @root.config.secondaryAttributes key)}}
          </label>
          <input
            type="text"
            value="{{attribute.total}}"
            class="attribute-score"
            data-dtype="Number"
            readonly
          />

        </div>
      {{/each}}
    </div>
<hr>
<div class="stats">
  <div class="stat-row">
    {{#each system.stats as |stat key|}}
      {{#if (not (or (eq key "corruption")))}}
        <div class="attribute">
          <label>{{localize (concat 'TOS.Actor.Character.stats.' key '.value.label')}}</label>
          
          <!-- Current value input (editable) -->
          <div class="stat-values">
            <input 
              type="text" 
              class="stat-input stat-current" 
              name="system.stats.{{key}}.value"
              value="{{stat.value}}" 
              data-value="{{stat.value}}"
            />
            
            <!-- Max value input (grayed out, readonly) -->
            <input 
              type="text" 
              class="stat-input stat-max" 
              value="{{stat.max}}" 
              data-value="{{stat.max}}" 
              readonly
            />
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
<hr>

  <div>
        <label class="resource-label">{{localize
            "TOS.Item.Gear.FIELDS.armor.label"
          }}</label>
        <input
          type="text"
          name="system.armorTotal"
          value="{{system.armorTotal}}"
          data-dtype="Number"
          readonly
        />
  </div>
  </div>
  

</header>