<section
  class="tab skills {{tab.cssClass}}"
  data-group="primary"
  data-tab="skills"
>
  <section class="skills-container">

    {{! Left Column }}
    <div class="skills-column">
      <h3>{{localize "TOS.Actor.Character.Attribute.Str.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 0)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Dex.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 1)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.End.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 2)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Int.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 3)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}
    </div>
    {{! Right Column }}
    <div class="skills-column">
      <h3>{{localize "TOS.Actor.Character.Attribute.Wil.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 4)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Cha.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 5)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Per.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 6)}}
          <div class="skill-entry flexrow">
            <label
              class="skill-label rollable flexlarge align-left"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
            >
              {{key}}
            </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        {{/if}}
      {{/each}}
    </div>

  </section>
</section>