<section
  class="tab skills {{tab.cssClass}}"
  data-group="primary"
  data-tab="skills"
>
<h3>Combat</h3>
<section class="combat-skills grid-skills"> 

{{#each system.combatSkills as |skill key|}}
  {{#if (eq skill.isSkill 1)}}
  
    <label class="toggle-label hidden">
      <input 
        type="checkbox" 
        class="toggle-skill-visibility" 
        data-skill="{{key}}" 
        {{#if skill.visible}}checked{{/if}}>
        {{key}}
    </label>       

    <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
      <label
        class="skill-label rollable flexlarge align-left skill-name"  
        data-action="roll"
        data-roll="{{#if (eq key 'combat')}}{{#if skill.finesseRating}}{{#if (gt skill.finesseRating skill.rating)}}{{skill.finesseRating}}{{else}}{{skill.rating}}{{/if}}{{else}}{{skill.rating}}{{/if}}{{else}}{{skill.rating}}{{/if}}-1d100"
        data-roll-type="skill"
        data-label="{{key}}"
      >
        {{key}}
      </label>

      <input
        type="text"
        name="system.combatSkills.{{key}}.value"
        value="{{skill.value}}"
        class="skill-value"
        data-dtype="Number"
      />
      
      <span
        class="skill-mod rollable skill-rating"  
        data-roll="{{#if (eq key 'combat')}}{{#if skill.finesseRating}}{{#if (gt skill.finesseRating skill.rating)}}{{skill.finesseRating}}{{else}}{{skill.rating}}{{/if}}{{else}}{{skill.rating}}{{/if}}{{else}}{{skill.rating}}{{/if}}-1d100"
        data-roll-type="skill"
        data-label="{{key}}"
        data-dtype="Number"
      >
        {{#if (eq key 'combat')}}
          {{#if skill.finesseRating}}
            {{#if (gt skill.finesseRating skill.rating)}} 
              {{skill.finesseRating}}
            {{else}}
              {{skill.rating}}
            {{/if}}
          {{else}}
            {{skill.rating}}
          {{/if}}
        {{else}}
          {{skill.rating}}
        {{/if}}
      </span>
    </div>

  {{/if}}
{{/each}}

        {{#each system.weaponSkills as |skill key|}}
         <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
             {{key}}
        </label>       
        <div class="skill-entry {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
          <input
            type="text"
            name="system.skills.{{key}}.value"
            value="{{skill.value}}"
            class="skill-value align-left"
            data-dtype="Number"
          />
           </div>
  {{/each}}
     {{#each system.doctrines as |skill key|}}
         <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
             {{key}}
        </label>  
                 <div class="skill-entry {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
          <input
            type="text"
            name="system.skills.{{key}}.value"
            value="{{skill.value}}"
            class="skill-value align-left"
            data-dtype="Number"
          />
           </div>
  {{/each}}
   {{#each system.schools as |skill key|}}
         <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
             {{key}}
        </label>       
        <div class="skill-entry {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
          <input
            type="text"
            name="system.skills.{{key}}.value"
            value="{{skill.value}}"
            class="skill-value align-left"
            data-dtype="Number"
          />
           </div>
  {{/each}}
   {{#each system.combatSkills as |skill key|}}
    {{#if (eq skill.isSkill 0)}}
         <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
             {{key}}
        </label>       
        <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
          <span
            class="skill-mod rollable skill-rating"  
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
            data-dtype="Number"
          >{{skill.rating}}</span>
        </div>
    
  {{/if}}
  {{/each}}

</section>

  <section class="skills-container">

    {{! Left Column }}
    <div class="skills-column skills-checkbox-container">
      <h3>{{localize "TOS.Actor.Character.Attribute.Str.long"}}</h3>
     
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 0)}}
      <div class="skill-toggle-wrapper">
         <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
             {{key}}
        </label>       
        <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
          <input
            type="text"
            name="system.skills.{{key}}.value"
            value="{{skill.value}}"
            class="skill-value"
            data-dtype="Number"
          />
          <span
            class="skill-mod  skill-rating"  
              data-label="{{key}}"
            data-dtype="Number"
          >{{skill.rating}}</span>
        </div>
      </div>
    {{/if}}
  {{/each}}


      <h3>{{localize "TOS.Actor.Character.Attribute.Dex.long"}}</h3>
      
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 1)}}
        <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
        </div>
        {{/if}}
      {{/each}}
      

      <h3>{{localize "TOS.Actor.Character.Attribute.End.long"}}</h3>
      
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 2)}}
        <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
          </div>
        {{/if}}
      {{/each}}
      

      <h3>{{localize "TOS.Actor.Character.Attribute.Int.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 3)}}
                  <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
    {{! Right Column }}
    <div class="skills-column">
      <h3>{{localize "TOS.Actor.Character.Attribute.Wil.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 4)}}
                 <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
          </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Cha.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 5)}}
                 <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
         
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
           </div>
        {{/if}}
      {{/each}}

      <h3>{{localize "TOS.Actor.Character.Attribute.Per.long"}}</h3>
      {{#each system.skills as |skill key|}}
        {{#if (eq skill.id 6)}}
                  <div class="skill-toggle-wrapper">
        <label class="toggle-label hidden">
          <input 
            type="checkbox" 
            class="toggle-skill-visibility" 
            data-skill="{{key}}" 
            {{#if skill.visible}}checked{{/if}}>
          {{key}}
        </label>
           <div class="skill-entry flexrow {{#unless skill.visible}}hidden-skill{{/unless}}">
          <label
            class="skill-label rollable flexlarge align-left skill-name"  
            data-action="roll"
            data-roll="{{skill.rating}}-1d100"
            data-roll-type="skill"
            data-label="{{key}}"
          >
            {{key}}
          </label>
            <input
              type="text"
              name="system.skills.{{key}}.value"
              value="{{skill.value}}"
              class="skill-value"
              data-dtype="Number"
            />
            <span
              class="skill-mod rollable skill-rating"
              data-action="roll"
              data-roll="{{skill.rating}}-1d100"
              data-roll-type="skill"
              data-label="{{key}}"
              data-dtype="Number"
            >{{skill.rating}} </span>
          </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  
  </section>
</section>