{{! Features Tab }}
<section
  class="tab testtab {{tab.cssClass}}"
  data-group="primary"
  data-tab="testtab"
>
  <section class="grid grid-3col">

    {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}

    <div class="resource flex-group-center">
      <label for="system.stats.health.value" class="resource-label">
        {{localize "TOS.Actor.Character.stats.health.value.label"}}
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.stats.health.value"
          value="{{system.stats.health.value}}"
          data-dtype="Number"
        />
        <span> / </span>
        <input
          type="text"
          name="system.stats.health.max"
          value="{{system.stats.health.max}}"
          data-dtype="Number"
        />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.stats.luck.value" class="resource-label">
        Luck
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.stats.luck.value"
          value="{{system.stats.luck.value}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="resource flex-group-center">
      <label for="system.skills.Athletics.critbonus" class="resource-label">
        athleticsbonus
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.skills.Athletics.critbonus"
          value="{{system.skills.Athletics.critbonus}}"
          data-dtype="Number"
        />
      </div>
    </div>
    <div class="resource flex-group-center">
      <label
        for="system.skills.Athletics.critfailpenalty"
        class="resource-label"
      >
        athleticspenalty
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.skills.Athletics.critfailpenalty"
          value="{{system.skills.Athletics.critfailpenalty}}"
          data-dtype="Number"
        />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.Character.stats.value" class="resource-label">
        {{localize "TOS.Actor.Character.stats.mana.value.label"}}
      </label>
      <div class="resource-content flexrow flex-center flex-between">
        <input
          type="text"
          name="system.stats.mana.value"
          value="{{system.stats.mana.value}}"
          data-dtype="Number"
        />
        <span> / </span>
        <input
          type="text"
          name="system.Character.stats.mana.max"
          value="{{system.stats.mana.max}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </section>
  {{#each system.combat_skills as |combat_skill key|}}
    <div class="ability flexrow flex-group-center">
      <label
        class="resource-label rollable flexlarge align-left"
        data-action="roll"
        data-roll="{{combat_skill.rating}}-1d100"
        data-roll-type="combat_skill"
        data-label="{{key}}"
      >{{key}} <!-- Use key to display the combat skill name --> </label>
      <input
        type="text"
        name="system.combat_skills.{{key}}.value"
        value="{{combat_skill.value}}"
        class="combat_skill-value"
        data-dtype="Number"
      />
      <span
        type="text"
        class="combat_skill-mod rollable"
        data-action="roll"
        data-roll="{{combat_skill.rating}}-1d100"
        data-roll-type="combat_skill"
        data-label="{{key}}"
        data-dtype="Number"
      >{{combat_skill.rating}} <!-- Display the combat skill rating --> </span>
    </div>
    <!-- Log the entire system object -->
    <!-- Log the skills object -->
  {{/each}}

  <!-- Weapon tab -->
  <section class="main grid-span-2">
    <ol class="items-list">
      <li class="item flexrow items-header">
        <div class="item-name">{{localize "Name"}}</div>
        <div class="item-controls">
          {{#if @root.editable}}
            <a
              class="item-control item-create"
              title="Create item"
              data-action="createDoc"
              data-document-class="Item"
              data-type="feature"
            >
              <i class="fas fa-plus"></i>
              {{localize "DOCUMENT.New" type="feature"}}
            </a>
          {{/if}}
        </div>

      </li>

      {{#each weapon as |item id|}}
        <li
          class="item flexrow"
          data-item-id="{{item._id}}"
          data-drag="true"
          data-document-class="Item"
        >
          <div class="item-name">
            <div class="item-image">
              <a class="rollable" data-roll-type="item" data-action="roll">
                <img
                  src="{{item.img}}"
                  title="{{item.name}}"
                  width="24"
                  height="24"
                />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div class="item-controls">
            <a
              class="item-control item-edit"
              title="{{localize 'DOCUMENT.Update' type="weapon"}}"
              data-action="viewDoc"
            >
              <i class="fas fa-edit"></i>
            </a>
            {{#if @root.editable}}
              <a
                class="item-control item-delete"
                title="{{localize 'DOCUMENT.Delete' type="weapon"}}"
                data-action="deleteDoc"
              >
                <i class="fas fa-trash"></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </section>

</section>