{{! Doctrines Tab }}
<section
  class="tab doctrines {{tab.cssClass}}"
  data-group="primary"
  data-tab="doctrines"
>
  {{! As you add new fields, add them in here! }}

     <div class="grid grid-4col">

  <label class="resource-label">{{localize "dimakerus"}}</label>
  <input type="checkbox" name="system.doctrines.dimakerus" {{checked system.doctrines.dimakerus}} />

  <label class="resource-label">{{localize "duelist"}}</label>
  <input type="checkbox" name="system.doctrines.duelist" {{checked system.doctrines.duelist}} />

  <label class="resource-label">{{localize "monk"}}</label>
  <input type="checkbox" name="system.doctrines.monk" {{checked system.doctrines.monk}} />

    <label class="resource-label">{{localize "pikeman"}}</label>
  <input type="checkbox" name="system.doctrines.pikeman" {{checked system.doctrines.pikeman}} />

    <label class="resource-label">{{localize "reaver"}}</label>
  <input type="checkbox" name="system.doctrines.reaver" {{checked system.doctrines.reaver}} />

    <label class="resource-label">{{localize "rogue"}}</label>
  <input type="checkbox" name="system.doctrines.rogue" {{checked system.doctrines.rogue}} />

    <label class="resource-label">{{localize "shieldbearer"}}</label>
  <input type="checkbox" name="system.doctrines.shieldbearer" {{checked system.doctrines.shieldbearer}} />

      <label class="resource-label">{{localize "swordsman"}}</label>
  <input type="checkbox" name="system.doctrines.swordsman" {{checked system.doctrines.swordsman}} />

        <label class="resource-label">{{localize "archer"}}</label>
  <input type="checkbox" name="system.doctrines.archer" {{checked system.doctrines.archer}} />

        <label class="resource-label">{{localize "crossbowman"}}</label>
  <input type="checkbox" name="system.doctrines.crossbowman" {{checked system.doctrines.crossbowman}} />

        <label class="resource-label">{{localize "peltast"}}</label>
  <input type="checkbox" name="system.doctrines.peltast" {{checked system.doctrines.peltast}} />

        <label class="resource-label">{{localize "juggler"}}</label>
  <input type="checkbox" name="system.doctrines.juggler" {{checked system.doctrines.juggler}} />
  </div>
</section>