<header class="sheet-header">

  {{!-- =====================
       PROFILE IMAGE & NAME
  ====================== --}}
  <img
    class="profile-img"
    src="{{item.img}}"
    data-edit="img"
    data-action="onEditImage"
    title="{{item.name}}"
  />

  <div class="header-fields">
    <div class="document-name">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </div>

    {{!-- =====================
         FEATURE
    ====================== --}}
    {{#if (eq item.type "feature")}}
      <div class="grid-span-1">
        <label for="feature-option">Option:</label>
        <select name="system.option" id="feature-option">
          <option value="">-- Select a type --</option>
          {{#each system.options as |option|}}
            <option value="{{option}}" {{#if (eq ../system.option option)}}selected{{/if}}>
              {{option}}
            </option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{!-- =====================
         WEAPON & ABILITY
    ====================== --}}
    {{#if (or (eq item.type "weapon") (eq item.type "ability"))}}
      <div class="grid grid-2col">

        {{!-- Weapon dice fields --}}
        {{#if (eq item.type "weapon")}}
          <div class="grid-span-1">
            <label for="damage-dice">{{localize "TOS.Item.Weapon.FIELDS.diceNum.label"}}:</label>
            <input
              type="text"
              name="system.roll.diceNum"
              value="{{system.roll.diceNum}}"
              data-dtype="Number"
            />
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.dieSize.label"}}</label>
            <input
              type="text"
              name="system.roll.diceSize"
              value="{{system.roll.diceSize}}"
              data-dtype="String"
            />
          </div>
        {{/if}}

        {{!-- Shared fields --}}
        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.rollMod.label"}}</label>
          <input
            type="text"
            name="system.roll.diceBonus"
            value="{{system.roll.diceBonus}}"
            data-dtype="String"
            placeholder="e.g. +5+2d6"
          />
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.penetration.label"}}</label>
          <input
            type="text"
            name="system.penetration"
            value="{{system.penetration}}"
            data-dtype="Number"
          />
        </div>

        {{!-- Weapon-only fields --}}
        {{#if (eq item.type "weapon")}}
          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.weight.label"}}</label>
            <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
          </div>

          <div class="grid-span-1">
            <label for="weapon-class">Weapon Class:</label>
            <select name="system.class" id="weapon-class">
              <option value="">-- Select a Class --</option>
              {{#each system.classOptions as |classOption|}}
                <option value="{{classOption}}" {{#if (eq ../system.class classOption)}}selected{{/if}}>
                  {{classOption}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label for="weapon-type">Weapon Type:</label>
            <select name="system.type" id="weapon-type">
              <option value="">-- Select a Type --</option>
              {{#each system.typeOptions as |typeOption|}}
                <option value="{{typeOption}}" {{#if (eq ../system.type typeOption)}}selected{{/if}}>
                  {{typeOption}}
                </option>
              {{/each}}
            </select>
          </div>
        {{/if}}

        {{!-- Ability-only fields --}}
        {{#if (eq item.type "ability")}}
          <div class="grid-span-1">
            <label for="ability-class">Ability Class:</label>
            <select name="system.class" id="ability-class">
              <option value="">-- Select a Class --</option>
              {{#each system.classOptions as |classOption|}}
                <option value="{{classOption}}" {{#if (eq ../system.class classOption)}}selected{{/if}}>
                  {{classOption}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label for="ability-type">Ability Type:</label>
            <select name="system.type" id="ability-type">
              <option value="">-- Select a Type --</option>
              {{#each system.typeOptions as |typeOption|}}
                <option value="{{typeOption}}" {{#if (eq ../system.type typeOption)}}selected{{/if}}>
                  {{typeOption}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label for="cost-type">Cost Type:</label>
            <select name="system.costType" id="cost-type">
              <option value="">-- Select a Type --</option>
              {{#each system.costOptions as |costOption|}}
                <option value="{{costOption}}" {{#if (eq ../system.costType costOption)}}selected{{/if}}>
                  {{costOption}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label for="test-type">Test Type:</label>
            <select name="system.attributeTest" id="test-type">
              <option value="">-- Select a Type --</option>
              {{#each system.testOptions as |testOption|}}
                <option value="{{testOption}}" {{#if (eq ../system.attributeTest testOption)}}selected{{/if}}>
                  {{testOption}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Spell.FIELDS.cost.label"}}</label>
            <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">Test Modifier</label>
            <input type="text" name="system.testModifier" value="{{system.testModifier}}" data-dtype="Number"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Ability.FIELDS.weaponAbility.label"}}</label>
            <input type="checkbox" name="system.weaponAbility" {{#if system.weaponAbility}}checked{{/if}} />
          </div>
        {{/if}}

      </div>
    {{/if}}

    {{!-- =====================
         GEAR
    ====================== --}}
    {{#if (eq item.type "gear")}}
      <div class="grid grid-2col">

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Gear.FIELDS.shield.label"}}</label>
          <input type="checkbox" name="system.shield" {{#if system.shield}}checked{{/if}} />
        </div>

        {{#if system.shield}}
          <div class="grid-span-1"></div>
        {{/if}}

        {{#unless system.shield}}
          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Gear.FIELDS.helmet.label"}}</label>
            <input type="checkbox" name="system.helmet" {{#if system.helmet}}checked{{/if}} />
          </div>
        {{/unless}}

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Gear.FIELDS.armor.label"}}</label>
          <input type="text" name="system.armor.value" value="{{system.armor.value}}" data-dtype="Number"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Gear.FIELDS.durability.label"}}</label>
          <input type="text" name="system.armor.durability" value="{{system.armor.durability}}" data-dtype="Number"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Gear.FIELDS.weight.label"}}</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
        </div>

        {{#unless system.shield}}
          <div class="grid-span-1">
            <label for="gear-layer">Gear layer:</label>
            <select name="system.layer" id="gear-layer">
              <option value="">-- Select a layer --</option>
              {{#each system.layerOptions as |layerOption|}}
                <option value="{{layerOption}}" {{#if (eq ../system.layer layerOption)}}selected{{/if}}>
                  {{layerOption}}
                </option>
              {{/each}}
            </select>
          </div>
        {{/unless}}

      </div>
    {{/if}}

    {{!-- =====================
         CONSUMABLE
    ====================== --}}
    {{#if (eq item.type "consumable")}}
      <div class="grid grid-2col">
        <div class="grid-span-1">
          <label for="consumable-option">Type:</label>
          <select name="system.option" id="consumable-option">
            <option value="">-- Select a type --</option>
            {{#each system.options as |option|}}
              <option value="{{option}}" {{#if (eq ../system.option option)}}selected{{/if}}>{{option}}</option>
            {{/each}}
          </select>
        </div>

        {{!-- Potion --}}
        {{#if (eq item.system.option "potion")}}
          <div class="grid-span-1">
            <label for="potion-type">Potion type:</label>
            <select name="system.type" id="potion-type">
              <option value="">-- Select a type --</option>
              {{#each system.types as |type|}}
                <option value="{{type}}" {{#if (eq ../system.type type)}}selected{{/if}}>{{type}}</option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Consumable.FIELDS.toxicity.label"}}</label>
            <input type="text" name="system.toxicity" value="{{system.toxicity}}" data-dtype="Number"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Consumable.FIELDS.bleed.label"}}</label>
            <input type="text" name="system.bleed" value="{{system.bleed}}" data-dtype="Number"/>
          </div>
        {{/if}}

        {{!-- Explosive --}}
        {{#if (eq item.system.option "explosive")}}
          <div class="grid-span-1">
            <label>{{localize "TOS.Item.Consumable.FIELDS.aimed.label"}}</label>
            <input type="checkbox" name="system.aimed" {{#if system.aimed}}checked{{/if}} />
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.penetration.label"}}</label>
            <input type="text" name="system.penetration" value="{{system.penetration}}" data-dtype="Number" placeholder="0"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Consumable.FIELDS.burn.label"}}</label>
            <input type="text" name="system.burn" value="{{system.burn}}" data-dtype="Number" placeholder="0"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Consumable.FIELDS.freeze.label"}}</label>
            <input type="text" name="system.freeze" value="{{system.freeze}}" data-dtype="Number" placeholder="0"/>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Consumable.FIELDS.stun.label"}}</label>
            <input type="text" name="system.stun" value="{{system.stun}}" data-dtype="Number" placeholder="0"/>
          </div>
        {{/if}}

        {{!-- Dice fields --}}
        <div class="grid-span-1">
          <label>{{localize "TOS.Item.Weapon.FIELDS.diceNum.label"}}:</label>
          <input type="text" name="system.roll.diceNum" value="{{system.roll.diceNum}}" data-dtype="Number" placeholder="0"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.dieSize.label"}}</label>
          <input type="text" name="system.roll.diceSize" value="{{system.roll.diceSize}}" data-dtype="String" placeholder="0"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.rollMod.label"}}</label>
          <input type="text" name="system.roll.diceBonus" value="{{system.roll.diceBonus}}" data-dtype="String" placeholder="e.g. 5+2d6"/>
        </div>

      </div>
    {{/if}}

    {{!-- =====================
         MAGIC & DIVINE SPELLS
    ====================== --}}
    {{#if (eq item.type "spell")}}
      <div class="grid grid-2col">
        <div class="grid-span-1">
          <label for="spell-option">Type:</label>
          <select name="system.option" id="spell-option">
            <option value="">-- Select a type --</option>
            {{#each system.options as |option|}}
              <option value="{{option}}" {{#if (eq ../system.option option)}}selected{{/if}}>{{option}}</option>
            {{/each}}
          </select>
        </div>

        {{!-- Magic option --}}
        {{#if (eq item.system.option "magic")}}
          <div class="grid-span-1">
            <label for="school-type">School:</label>
            <select name="system.type" id="school-type">
              <option value="">-- Select a school --</option>
              {{#each system.spellTypes as |type|}}
                <option value="{{type}}" {{#if (eq ../system.type type)}}selected{{/if}}>{{type}}</option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label for="spell-rank">Rank:</label>
            <select name="system.rank">
              <option value="">-- Select a rank --</option>
              {{#each system.spellRanks as |rank|}}
                <option value="{{rank}}" {{#if (eq ../system.rank rank)}}selected{{/if}}>{{rank}}</option>
              {{/each}}
            </select>
          </div>

          <div class="grid-span-1">
            <label class="resource-label">{{localize "TOS.Item.Spell.FIELDS.difficulty.label"}}</label>
            <input type="text" name="system.difficulty" value="{{system.difficulty}}" data-dtype="Number"/>
          </div>
        {{/if}}

        {{!-- Divine option --}}
        {{#if (eq item.system.option "divine")}}
          <div class="grid-span-1">
            <label for="spell-rank">Rank:</label>
            <select name="system.rank">
              <option value="">-- Select a rank --</option>
              {{#each system.miracleRanks as |rank|}}
                <option value="{{rank}}" {{#if (eq ../system.rank rank)}}selected{{/if}}>{{rank}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}

        {{!-- Dice fields --}}
        <div class="grid-span-1">
          <label>{{localize "TOS.Item.Weapon.FIELDS.diceNum.label"}}:</label>
          <input type="text" name="system.roll.diceNum" value="{{system.roll.diceNum}}" data-dtype="Number" placeholder="0"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.dieSize.label"}}</label>
          <input type="text" name="system.roll.diceSize" value="{{system.roll.diceSize}}" data-dtype="String" placeholder="0"/>
        </div>

        <div class="grid-span-2">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.rollMod.label"}}</label>
          <input type="text" name="system.roll.diceBonus" value="{{system.roll.diceBonus}}" data-dtype="String" placeholder="e.g. @spellPower"/>
        </div>
       <div class="grid-span-1">
            <label for="test-type">Test Type:</label>
            <select name="system.attributeTest" id="test-type">
              <option value="">-- Select a Type --</option>
              {{#each system.testOptions as |testOption|}}
                <option value="{{testOption}}" {{#if (eq ../system.attributeTest testOption)}}selected{{/if}}>
                  {{testOption}}
                </option>
              {{/each}}
            </select>
       </div>
         
          <div class="grid-span-1">
            <label class="resource-label">Test Modifier</label>
            <input type="text" name="system.testModifier" value="{{system.testModifier}}" data-dtype="String" placeholder="e.g. @spellPower"/>
          </div>
         </div>
         <div class="grid grid-3col">
        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Weapon.FIELDS.penetration.label"}}</label>
          <input type="text" name="system.penetration" value="{{system.penetration}}" data-dtype="Number" placeholder="0"/>
        </div>

        <div class="grid-span-1">
          <label class="resource-label">{{localize "TOS.Item.Spell.FIELDS.cost.label"}}</label>
          <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number"/>
        </div>

        <div class="grid-span-1">
          <label>{{localize "TOS.Item.Spell.FIELDS.isOffensive.label"}}</label>
          <input type="checkbox" name="system.isOffensive" {{#if system.isOffensive}}checked{{/if}} />
        </div>



      </div>
    {{/if}}

  </div>

</header>
